---
import YoutubeEmbed from '~/components/common/YoutubeEmbed';

const { images } = Astro.props;
---

<div class="container mx-auto md:columns-2 gap-1">
  {
    images.map((image) => (
      <YoutubeEmbed videoId={image.videoId} client:load>
        <div class="relative group mb-1 md:mb-0">
          <img src={image.src} alt={image.alt} />
          <div class="absolute bottom-[3rem] font-bold text-2xl uppercase text-white left-1/2 -translate-x-1/2 z-10 drop-shadow-md">
            <h2 class="card-title group-hover:-translate-y-2 text-white  ease-in-out duration-100 text-shadow-sm">
              {image.alt}
            </h2>
          </div>

          <!-- <div class="absolute inset-0 opacity-0 hover:bg-opacity-60 hover:opacity-100 bg-slate-600 group-hover:ease-in-out duration-300 font-bold text-2xl uppercase text-white   z-10 drop-shadow-md"> -->
          <!--   <h2 class="card-title text-black text-shadow-sm"> -->
          <!--     {image.alt} -->
          <!--   </h2> -->
          <!-- </div> -->
        </div>
      </YoutubeEmbed>
    ))
  }
</div>
