---
import FAQs from '~/components/widgets/FAQs.astro';
//import Features2 from '~/components/widgets/Features2.astro';
//import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

import * as aboutUsData from '~/content/decap_statics/about-us.md';

const metadata = {
  title: 'About us',
};

let pageTitle = aboutUsData.frontmatter.title;
let pageDescription = aboutUsData.frontmatter.description;
let goals = aboutUsData.frontmatter.goals;
let faqs = aboutUsData.frontmatter.faqs;
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero tagline="About us">
    <Fragment slot="title">
      {pageTitle}
    </Fragment>

    <Fragment slot="subtitle">{pageDescription}</Fragment>
  </Hero>

  <!-- Features3 Widget ************** -->

  <!-- Steps2 Widget ****************** -->

  <Steps2 title={goals.heading} subtitle={goals.description} items={goals.goalList} />

  <FAQs title={faqs.heading} items={faqs.faqList}>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Features2 Widget ************** -->
  <!-- 
    <Features2
      title="Technical Support"
      tagline="Contact us"
      columns={2}
      items={[
        {
          title: 'Chat with us',
          description:
            'Integer luctus laoreet libero, auctor varius purus rutrum sit amet. Ut nec molestie nisi, quis eleifend mi.',
          icon: 'tabler:messages',
        },
        {
          title: 'Call us',
          description:
            'Mauris faucibus finibus orci, in posuere elit viverra non. In hac habitasse platea dictumst. Cras lobortis metus a hendrerit congue.',
          icon: 'tabler:headset',
        },
      ]}
    />
-->
</Layout>
