---
import Layout from '~/layouts/PageLayout.astro';
import * as homepageData from '~/content/decap_statics/homepage.md';

// import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import ProductGrid, { type ProductGridItem } from '~/components/ui/ProductGrid.astro';

import Carousel, { type SlideProp } from '~/components/common/Carousel';
import CardsBlock, { type ImageData } from '~/components/widgets/CardsBlock.astro';

const metadata = {
  title: 'Triyaa Tantric Animation Studios',
  ignoreTitleTemplate: true,
};

type CTA = {
  heading: string;
  description: string;
  button: {
    text: string;
    link: string;
  };
};

let images = homepageData.frontmatter.images as ImageData[];
let slides = homepageData.frontmatter.slides as SlideProp[];
let products = homepageData.frontmatter.products as ProductGridItem[];
let heroSectionContent = homepageData.frontmatter.heroSection;

let cta = homepageData.frontmatter.cta as CTA;

let test = 'hello there' as any;

//const products: ProductGridItem[] = [
//  {
//    image:
//      'https://images.unsplash.com/photo-1603344797033-f0f4f587ab60?auto=format&q=75&fit=crop&crop=top&w=600&h=700',
//    preTitle: 'Women',
//    title: 'Summer Season',
//    url: '#',
//    altText: 'Photo by engin akyurt',
//  },
//  {
//    image:
//      'https://images.unsplash.com/photo-1520975507040-338a6f25ef45?auto=format&q=75&fit=crop&crop=top&w=600&h=700',
//    preTitle: 'Men',
//    title: 'Winter Collection',
//    url: '#',
//    altText: 'Photo by adam winger',
//  },
//  {
//    image:
//      'https://images.unsplash.com/photo-1533227268428-e9f5fe7895e1?auto=format&q=75&fit=crop&crop=top&w=600&h=700',
//    preTitle: 'Kids',
//    title: 'Autumn Wear',
//    url: '#',
//    altText: 'Photo by kevin laminto',
//  },
//  {
//    image: 'https://images.unsplash.com/photo-1556741533-f6acd6471146?auto=format&q=75&fit=crop&crop=top&w=600&h=700',
//    preTitle: 'Accessories',
//    title: 'Luxury Bags',
//    url: '#',
//    altText: 'Photo by joseph gonzalez',
//  },
//];
---

<Layout metadata={metadata}>
  {slides.length ? <Carousel client:load slides={slides} /> : null}
  <Features2 title={heroSectionContent.title} subtitle={heroSectionContent.description} />

  <div class="container mx-auto">
    <ProductGrid products={products} />
  </div>

  <!-- TODO: @Rahul : Improve Design for this-->
  <CallToAction
    title={cta.heading}
    subtitle={cta.description}
    actions={[
      {
        variant: 'primary',
        text: cta.button.text,
        href: cta.button.link,
      },
    ]}
  />

  <!-- Masonry Block 1 -->
  <div class="mb-4 md:mb-8">
    <h2 class="mb-4 text-center text-2xl font-bold lg:text-3xl">Showcase</h2>
    <CardsBlock images={images} />
  </div>

  <!-- 

  <Features2
    title="Contact us"
    items={[
      {
        title: 'Phone',
        description: '+977 (9841) 123-4567',
        icon: 'tabler:phone',
      },
      {
        title: 'Email',
        description: 'triaa@gmail.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Location',
        description: '1234 Lorem Ipsum St, 12345, Miami, EEUU',
        icon: 'tabler:map-pin',
      },
    ]}
    />
    -->
</Layout>
