---
import Layout from '~/layouts/PageLayout.astro';
import * as homepageData from '~/content/decap_statics/homepage.md';

// import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import CollectionGrid from '~/components/ui/CollectionGrid.astro';

import Carousel, { type SlideProp } from '~/components/common/Carousel';
import CardsBlock, { type ImageData } from '~/components/widgets/CardsBlock.astro';

const metadata = {
  title: 'Triyaa Tantric Animation Studios',
  ignoreTitleTemplate: true,
};

type CTA = {
  heading: string;
  description: string;
  button: {
    text: string;
    link: string;
  };
};

let images = homepageData.frontmatter.images as ImageData[];
let slides = homepageData.frontmatter.slides as SlideProp[];
let cta = homepageData.frontmatter.cta as CTA;
---

<Layout metadata={metadata}>
  {slides.length ? <Carousel client:load slides={slides} /> : null}

  <Features2
    title="Who are we"
    subtitle="We are an animation studio founded by artists and filmmakers who believe that every creative project starts with a great idea. We bring our love of craft and storytelling to everything we do, from advertising and interactive to music videos and original content."
  />

  <div class="container mx-auto">
    <CollectionGrid />
  </div>

  <!-- TODO: @Rahul : Improve Design for this-->
  <CallToAction
    title={cta.heading}
    subtitle={cta.description}
    actions={[
      {
        variant: 'primary',
        text: cta.button.text,
        href: cta.button.link,
      },
    ]}
  />

  <!-- Masonry Block 1 -->
  <div class="mb-4 md:mb-8">
    <h2 class="text-2xl text-center font-bold lg:text-3xl mb-4">Showcase</h2>
    <CardsBlock images={images} />
  </div>

  <!-- 

  <Features2
    title="Contact us"
    items={[
      {
        title: 'Phone',
        description: '+977 (9841) 123-4567',
        icon: 'tabler:phone',
      },
      {
        title: 'Email',
        description: 'triyaa@gmail.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Location',
        description: '1234 Lorem Ipsum St, 12345, Miami, EEUU',
        icon: 'tabler:map-pin',
      },
    ]}
    />
 -->
</Layout>
